In [14]:
#import libraries
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
warnings.filterwarnings('ignore')

In [15]:
df = pd.read_csv("multipleLRhomeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [16]:
#Here we have to clean data for NaN by mean or putting zero and different techniques
import math
median = df.bedrooms.median()

In [17]:
#fill_na
df.bedrooms = df.bedrooms.fillna(median)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [18]:
model = linear_model.LinearRegression()

In [19]:
model

LinearRegression()

In [20]:
# Train model using fit
model.fit(df.drop('price' , axis = 'columns') , df.price)

LinearRegression()

In [21]:
# Predict always takes 2-D input
model.predict([[3000, 3, 40]])

array([498408.25158031])

In [22]:
model.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [23]:
model.intercept_

221323.0018654043

In [26]:
# Here in math it uses 
#coef[1] * area + coef[2] * bedrooms + coef[3] * age + intercept
112.06244194*3000 + 23388.88007794*3 +  -3231.71790863*40 + 221323.0018654043

498408.2515740243